services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    command: postgres -c shared_preload_libraries=pg_cron
