# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: cleisonfmelo/postgres-pg-cron
          # refer: https://hub.docker.com/_/postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
      pgbouncer:
        image: edoburu/pgbouncer:v1.25.1-p0
        env:
          POSTGRESQL_HOST: postgres
          POSTGRESQL_PORT: 5432
          POSTGRESQL_USERNAME: postgres
          POSTGRESQL_PASSWORD: postgres
          POSTGRESQL_DATABASE: postgres
          PGBOUNCER_POOL_MODE: transaction
          PGBOUNCER_AUTH_TYPE: trust
          PGBOUNCER_IGNORE_STARTUP_PARAMETERS: extra_float_digits
        ports:
          - 6432:6432

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install Java 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.11.0
        with:
          mongodb-version: '7.0'
          mongodb-replica-set: rs0
      - name: Build with Maven
        run: mvn -B package --file pom.xml
        env:
          COSMOSDB_CONNECTION_STRING: ${{ secrets.COSMOSDB_CONNECTION_STRING }}
          POSTGRES_CONNECTION_STRING: jdbc:postgresql://localhost:6432/postgres?user=postgres&password=postgres&sslmode=disable&pgbouncer=true
